.container.padding0{style: "max-width:600px;margin-top: 10%;"}
  .col-xs-12.col-sm-12.bg-white.padding10.border5.font13
    .panel.panel-default.mbottom0
      .panel-heading
        %h4.mtop-v-5 Enter The perticulars
      .panel-body
        = form_tag convert_to_profile_money_profiles_path, class: "form-horizontal convert_to_profile_money", id: "convert_to_profile_money" do
          .form-group
            .col-xs-12.col-sm-4
              Coins
              %span.heart-red-fg *
            .col-xs-12.col-sm-8
              = text_field_tag :coins, "#{current_user.wallet.unused_coins.to_i}", class: "form-control", required: true, id: 'convert_coins'
          .form-group.text-center
            .col-xs-12.col-sm-12.text-center
              = submit_tag "Save", class: "btn save-button mtop10 white-fg violet-bg border2 j-loader-trigger-link"

