- if @unmatch.blank?
  $(".j-settings-wrap").prepend("#{j render partial: "profiles/enter_otp"}")
  $("form.profile_form .errors").html("<%= j(render 'layouts/messages') %>")
- else
  location.reload();
