= content_for :title do
  -title = "Password - Cocociti"
.container-fluid.bg-light-grey.ptop50.mob-ptop100.pbottom50
  .container.mtop10
    .row
      = render partial: "profiles/settings_layout"
      .col-md-9
        = render 'users/registrations/edit'
= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $(".pass-sett").addClass("active");
    });
