Dear #{@user.name},
%p
  Sorry, Your order request is not accepted by the owner
  %br
  %br
  %strong Product:
  = link_to @transaction.product.title, "#{user_product_url(@product)}"
  %br
  %br
  %strong Owner:
  = @owner.name
