.pull-left.full-width#chat_messages.ptop20.pbottom10.full-height{"data-chat-room-id" => "#{chat_room.id}", "data-current-user-id" => "#{current_user.id if current_user}", class: "chat-room-#{chat_room.id}", style: "overflow-y: auto;"}
  .col-xs-12.col-sm-12.text-center.msg-loader.padding40{style: "display:none;"}
    %i.fa.fa-circle-o-notch.fa-spin.font21
    Please wait...
  .full-width.pull-left.j-cm-scroll-wrap
    = render partial: "chat_rooms/chat_messages_wrapper", locals: {chat_messages: chat_messages}
.pos-absolute.right15.cc-dark-bg.badge.white-fg.font13.scroll-bt-msg-count.hide-display.pon{style: "bottom: 15%"} 0
