.pull-left.full-width.text-center.ptop40.pbottom40.border-bt-side-dark
  %span.font20.weight600.full-width.pull-left= chat_room.name.upcase
  %span.font11.full-width.pull-left
    %span.online-count= count
    online
