.pull-left.full-width.j-chat-form-wrapper.padding10.bg-chat-grey.pright0.mob-padding5{style: "min-height: 54px;height: 12%;border-top: 1px solid rgb(224, 224, 224);"}
  .pull-left.full-width.full-height.j-c-msg-wrapper{"data-chat-room-id" => "#{chat_room.id}"}
    = text_area :chat_message, :content, class: "bg-white coco-input-field pull-left no-border padding5 hidden full-height", style: "width: 90%;", placeholder: "Type a message..."
    #chat_text_div.chat_text_div.pull-left.no-border.padding0.full-height.bg-white.border2{style: "width: 90%;"}
    .pull-left.text-center.j-btn-wrap.pon.ptop15.full-height{style: "width: 10%;"}
      .fa.fa-paper-plane-o.cc-dark-fg.font25.mob-font20
