var before_height = $(".j-cm-scroll-wrap").height();
$("#chat_messages").find(".j-cm-scroll-wrap").prepend("#{j render partial: "chat_rooms/chat_messages_wrapper", locals: {chat_messages: @chat_messages}}")
customUnicodeToHtml('.j-chat_content_data');
var after_height = $(".j-cm-scroll-wrap").height();
$("#chat_messages").scrollTop(after_height - before_height);
$(".msg-loader").fadeOut();
- if @remaining_count > 0
  $("#chat_messages").on("scroll", function(){if($(this).scrollTop() == 0){$(this).off("scroll");$(".msg-loader").show();$.get("/chatrooms/get_chat_messages?room_id=#{@chat_room.id}&last_id=#{@chat_messages.first.id}");}})
