.container.ptop50.mob-ptop100.padding0{style: "min-height: 100%;"}
  .row
    .col-xs-12.col-sm-12.mtop20.h-z
      = link_to new_chat_room_path do
        .fa.fa-plus-square-o.cc-dark-fg.j-n-c-t-btn.pull-right.pon{style: "font-size: 40px;"}
    .col-xs-12.col-sm-12.padding0
      %h3.mbottom0{style: "margin-top: -30px;"} TRENDING CHAT ROOMS
      %hr.mtop5.mbottom10
      .col-xs-12.col-sm-12.no-mar-pad
        - @trending_chat_rooms.each do |chat_room|
          = render partial: "chat_rooms/chat_room_card", locals: { chat_room: chat_room }
