$(".messages").html("#{j(render 'layouts/messages')}");
setTimeout(function(){$(".messages").html("")}, 10000);
$(".j-cf-chat-room").html("<i class='fa fa-check-circle green-fg' style='font-size: 36px;'>");
