#####Log Files######
*.log
####tmp file####
tmp/
log/
#########Database.yml######
config/database.yml
####schema file###
db/schema.rb
###Gemfil lock##
Gemfile.lock
###email file###
lib/emails-invited.csv
