#*****Log Files*******
*.log
#*****tmp file******
tmp/
log/
#******Database.yml*******
config/database.yml
#****schema file***
db/schema.rb
#*****rvmrc****
.rvmrc
#*****email file*****
lib/emails-invited.csv
#*******ruby version & gemset file
.ruby-version
.ruby-gemset
.env*
