%hmtl
  %body
    = yield
    %br
    %br
    Best regards,
    %br
    Cocociti Team

    %footer{style: "padding: 50px 0 30px 0;"}
      Cococit customer care
      %br
      phone: 96 8686 0303 | email: ayyo@cocociti.com