%p{style: "text-align: center;"}
  Hello #{@user.email}!
%br
%br
%p You can update your password using the link below. This link is valid for 6 hours.
%br
%br
%br
%br
= link_to "#{edit_user_password_url(id: @user.id, reset_password_token: @token)}", style: "text-decoration: none" do
  %span{style: "padding: 15px;background-color: #05A665;color: white;font-size: 14px;"}
    Change my password
%br
%br
%p If you didn't request this, please ignore this email.
%br
%br
%p Your password won't change until you access the link above and create a new one.
