%p
  Hello #{@user.email}!
%p You can update your password using the link below. This link is valid for 6 hours.
%p= link_to 'Change my password', edit_user_password_url(id: @user.id, reset_password_token: @token)
%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
