-name = @cocotransfer.showcase.user.name? ? @cocotransfer.showcase.user.name : "Cocociti User"
Dear #{name},

You've got fresh funds gifted by #{@cocotransfere.display_donor_name}! Your Cocociti account  has been credited with Rs #{@cocotransfer.amount}

= link_to "Cick here", showcase_path(@cocotransfer.showcase)
to check your total Cocociti credits & detailed contributor list 

Thank you for using COCOCITI.

Share, find, fund & fulfill your wishes at www.cocociti.com.

Google Play store link & Play store logo

%span{style: "font-size:16px;float:left;margin-bottom:20px;width:100%;"}
  We wish you a wonderful renting experience!!!
%span{style: "font-size:16px;float:left;margin-bottom:20px;width:100%;"}
  For further assistance with your booking, please email us at hello@cocociti.com or call us at 96 8686 0303.
#fourth_cont.Container
  %h4 Cocociti Online Solutions Pvt Ltd
  %p
    %b (CIN Uxxxxxxxxxxxxeeeeeeede3w)
  %p Cocociti Online Solutions Pvt Ltd, BMP No.15, 4th Cross, Marappa Layout, C V Raman Nagar, Near Bagmane Tech Park, Bangalore, India - 560093
  %p 96 8686 0303 ; ayyo@cocociti.com, www.cocociti.com