- if current_user
  location.reload();
- else
  $("#home-login .errors").html("#{escape_javascript(render partial: 'layouts/errors', locals: {errors: ["Please enter a valid email and password."]})}")
