.col-xs-12.col-sm-12.padding10.font-bit-large.bg-shad
  .media
    .media-left.media-middle
      %i.fa.fa-bullhorn.font25.cc-dark-fg
    .media-body
      You are gifting Rs.
      %span.inline-block{class: "cocotransfer_display_amount"}
        #{cocotransfer.total_amount}
      -if cocotransfer.profile_transfer?
        to #{cocotransfer.receiver.name}
      -elsif cocotransfer.showcase_transfer?
        to #{cocotransfer.receiver.name} for #{cocotransfer.showcase_title}
