.col-xs-12.col-sm-12.padding10.font-bit-large.bg-shad
  .media
    .media-left.media-middle
      %i.fa.fa-bullhorn.font25.cc-dark-fg
    .media-body
      You are gifting Rs.
      %span.inline-block{class: "cocotransfer_display_amount"}
        #{cocotransfer.amount}
      to #{showcase.user.name} for #{showcase.title}
