= form_for @wiki, url: create_wiki_path, remote: true, html: {class: "form-horizontal form-wiki-wrap"} do |f|
  .form-group
    = f.text_field :title, class: "form-control wiki-form-title coco-input-field bg-light-grey", required: true, maxlength: 200, placeholder: "Title"
  .form-group
    = f.text_area :description, class: "form-control wiki-form-desc coco-input-field bg-light-grey", rows: 4, required: true, maxlength: 2000, placeholder: "Description"
  .form-group.text-center
    .btn.violet-bg.white-fg.no-mar-pad.loader-out-button
      = f.submit "Save", class: "loader-button btn violet-bg loader-in-button"
      .loader-effect.btn.violet-bg.loader-in-button{style: "display:none;"}
        .pull-left Please Wait...
        .ball-clip-rotate.pull-left{style: "height:22px;"}
          %div
