- users.each do |user|
  .col-xs-12.col-sm-12.border-bt-side.no-mar-pad{style: "height: 80px;", class: "follow-set-#{user.id}"}
    .col-xs-2.col-sm-2.no-mar-pad
      = cl_image_tag user.avatar, class: "img-circle hovercard mtop10", data: {id: user.id}, width: 40, height: 40, crop: :fill
    .col-xs-10.col-sm-10
      %span.mtop5.pull-left
        = (truncate user.name.titleize, length: 40)
    .col-xs-10.col-sm-10
      = link_to user_toggle_follow_path(user), remote: true, method: :post do
        .no-mar-pad.loader-out-follow-button.follow-button.border5.blue-border
          %button{class: "loader-button loader-in-follow-button padding0 cc-dark-fg border5 bg-white font-medium"}
            Follow
            %i.fa.fa-plus-circle
          .loader-effect.btn.loader-in-follow-button{style: "display:none;padding-top: 3px;"}
            .ball-clip-rotate{style: "height:22px;"}
              %div.blue-border
              %span ...
