= content_for :meta_content do
  -meta_content = "Cocociti is your trusted human2human online rental marketplace. Product owners make money by renting out products to people in need and users save money by avoiding costly purchases, indeed. Access things as and when you need it or help others by listing your available on Cocociti. All at the convenience of making life easier for both sides.Boom De Yada!."
= content_for :title do
  -title = "About Cocociti - Cocociti"
.container.container-pad.mod-postlist-con.ptop50.mob-ptop100
  .container.mob-postlist-con
    .row
      .col-md-12.text-center.mtop20.mbottom20
        %span.header-text Access = Cocociti
      .col-md-12
        %p
          The world we all live in & its people are awesome.
        %p
          %strong
            Cocociti
          is a universal platform for providing effortless access to things & by making sharing easy. At Cocociti, we want to change the way people access things by removing the hurdles of ownership & make access available to everyone on the go.
        %p
          Some call it on-demand economy, some call it sharing economy, some call it gig economy, some call it circular economy, some call it p2p, some call it rental economy. For us, it's about providing access to you. Unconditional, on-demand access to things and service as & when you need it, period.
        %p
          This world is just awesome and we want to put the awesomeness back into the access needs of mankind.
        %h5.mtop20.mbottom0
          %strong
            "This transition will have a positive impact on economic growth and welfare, by stimulating new consumption, by raising productivity, and by catalyzing individual innovation and entrepreneurship".
        %p.mbottom20 - Arun Sundararajan
        .col-md-12.text-center.mtop20.mbottom20
          %span.header-text For you, For us
        %p By lending & renting products on cocociti, everyone benefits are:
        %ul
          %li Reducing negative environmental impact (such as reducing the carbon footprint and consumption of resources)
          %li Stronger communities with added resource sharing capabilities
          %li Saving costs by borrowing and reusing items
          %li Accelerating sustainable consumption and production patterns in cities around the globe
          %li Providing people with access to goods who can't afford buying them or have no interest in long-term usage
          %li Increased independence, flexibility and self-reliance by decentralization, the abolition of certain entry-barriers and self-organization
          %li Increased participatory democracy
          %li Accelerating sustainable consumption and production patterns in cities around the globe
        %h5.mtop20.mbottom0
          %strong
            "Sharing economy allows people to take idle capital and turn them into revenue sources. People are taking spare bedroom[s], cars, tools they are not using and becoming their own entrepreneurs."
        %p.mbottom20 - Christopher
        .col-md-12.text-center.mtop20.mbottom20
          %span.header-text What's in a name?
        %p
          Cocociti -
          %strong> &nbsp;Co
          llaborative
          %strong> &nbsp;Co
          nsumption for
          %strong> &nbsp;Ci
          ties & Ci
          %strong> ti
          zens. Collaborative consumption or access economy as a phenomenon is a class of economic arrangements where goods and services are traded on the basis of access rather than ownership: it refers to renting things temporarily rather than selling them permanently.
        %strong
          %p.mbottom40 Boom De Yada!.
