.container.container-pad.mod-postlist-con.mtop50
  .container.mob-postlist-con
    .row
      .col-md-12.mtop50
        %p Cocociti is your trusted human2human online rental marketplace.
        Product owners make money by sharing products and you save money by avoiding costly purchases.
        %p
          %br
          %br
          Cococare:
          %br
          96 8686 0303
          %br
          ayyo@cocociti.com
          %br
          %br
          %br
