= content_for :meta_content do
  -meta_content = "Cocociti helps users to share their wishes with the world, connect to people, and enables marketers to develop more personal and effective relationships with their current and future customers."
= content_for :title do
  -title = "About Cocociti - Cocociti"
.container.ptop50.mob-ptop100{style: "min-height: 700px;"}
  .container
    .row
      .col-md-12.text-center.mtop20
        %span.header-text About
      .col-md-12
        %h1.font16.text-center.mtop20
          Cocociti is a social network based on wishes. Make new friends, discuss, discover, share wishes, give and get gifts, & raise funds to fulfil your wishes.
        .col-xs-12.col-sm-12.padding10.bg-light-grey.mbottom30.mtop20
          %h2.weight600.text-center Gifting Services
          %p.text-center We believe that there’s a perfect gift for everyone, and we help you find that wish of your loved ones and help fulfill it using Cocociti.
        %h4.weight600 WishPay
        %p Never gift a wrong item again. Always visit the Cocociti profile of the person whom you are gifting and browse through their wishes and gift exactly what it might cost to fulfil that wish.
        %h4.weight600.mtop30 ProfilePay
        %p When you want to put the power of gifting to your loved ones, go with the ProfilePay option just by clicking the gift option next to the person’s profile.
        %h4.weight600.mtop30 GroupGifting
        %p Planning to gift something to someone along with your friends? The collection, distribution and accounting is no more a painful process. Cocociti will take care of all the work, you just need to create a group wish and share the wish with your friends to start accepting the payments.
      .col-md-12.mtop40
        %p Cocociti helps users to share their wishes with the world, connect to people, and enables marketers to develop more personal and effective relationships with their current and future customers.
        %p.font20.text-center.weight-bold Our values to make value.
        %strong Bold.
        %br
        %p Take risks. Share opinions, challenge ourselves. Push the envelope on design and technology.
        %strong Nimble.
        %br
        %p Listen to feedback and embrace change. Learn and keep moving.
        %strong Distinct.
        %br
        %p Embrace individuality and value expertise. Respect different perspectives.
        %strong Sensible.
        %br
        %p We embed usability & common sense into our daily activity.
        %strong Transparent.
        %br
        %p We are accountable to each other. We don’t mince words – we are direct and straightforward.
        %strong Ambitious.
        %br
        %p We want to win and we want to help our users to win by delivering exceptional value through Cocociti.
