= content_for :meta_content do
  -meta_content = "Cocociti is your trusted human2human online rental marketplace. Product owners make money by renting out products to people in need and users save money by avoiding costly purchases, indeed. Access things as and when you need it or help others by listing your available on Cocociti. All at the convenience of making life easier for both sides.Boom De Yada!."
= content_for :title do
  -title = "About"
.container.container-pad.mod-postlist-con.mtop50
  .container.mob-postlist-con
    .row
      .col-md-12.mtop50
        %p
          %strong
            Cocociti
          is your trusted human2human online rental marketplace. Product owners make money by renting out products to people in need and users save money by avoiding costly purchases, indeed. Access things as and when you need it or help others by listing your available on Cocociti. All at the convenience of making life easier for both sides.
        %br
        %strong
          Boom De Yada!.
        %p
          %br
          %br
          Cococare:
          %br
          96 8686 0303
          %br
          ayyo@cocociti.com
          %br
          %br
          %br
