= content_for :title do
  -title = "Cocopay - Cocociti"
.container.ptop50.mob-ptop100
  %h4.mtop30 What is Cocopay?
  %p.mbottom30 Cocopay is the free payments and fundraising platform by users in India. On Cocociti you can share any wish of yours. Likewise, with the introduction of Cocopay; now anyone can raise funds for your personal causes like Travel, Health, Education or passion and creative wishes like Movies, Music, Theatre, Fashion, Technology or for NGOs, Non-Profits, Charities, causes from a large number of people who share passion for wishes like yours.

  %h4 Why Cocociti?
  %p.mbottom30 Cocociti is the world's simplest fundraising platform, loved by people. Using Cocociti for fundraising is as easy as using any other social network. Also, we have the most supportive social community and users to support the ecosystem
  Starting a fundraiser on Cocociti is FREE.
  There is no penalty if you don't raise the total amount. Whatever funds your raise will still get disbursed
  You can create and personalize your fundraiser page in minutes
  You get instant updates on your fundraiser's progress via email and SMS

  %h1 FAQs
  %h4 What is crowdfunding?
  %p.mbottom30 Crowdfunding is a process in which individuals pool money and other resources to fund projects initiated by other people or organizations. Crowdfunded projects may include creative works, products, nonprofit organizations, supporting entrepreneurship, businesses, or donations for a specific purpose (e.g., to pay for a medical procedure). Crowdfunding usually takes place via an online portal that handles the financial transactions involved, and may also provide services such as media hosting, social networking, and facilitating contact with contributors.

  %h4 What can I raise money for?
  %p.mbottom30 Anything ranging from raising funds for drinking tea, buying a fidget spinner, repairing your broken phone screen, funding your weekend trip and to paying unaffordable medical expenses, social causes . Users on Cocopay usually raise funds for:

  %ul
    %li Personal/Individual Wishes
    %li Animals
    %li Arts & Media
    %li Children
    %li Community
    %li Creative
    %li Education
    %li Elderly
    %li Emergencies
    %li Environment
    %li Entertainment
    %li Food & Hunger
    %li Health
    %li Human Rights
    %li Hobbies
    %li Medical
    %li Memorials
    %li Rural Development
    %li Social Entrepreneurship
    %li Sports
    %li Technology
    %li Travel
    %li Women
    %li Others
    %li And, everything legal and sane.

  %h4 Is Coco pay = crowd funding/fundraising?
  %p.mbottom30 Cocopay is how you use it. It can be crowdfunding/fund raising/group payments/social payments depending on how you plan to use Cocopay.

  %h4 What is Crowdfunding/Fundraising?
  %p.mbottom30 It is the process of raising money in small donations from a large group of known & unknown people. It can be from friends, strangers, enemies, colleagues, family, relatives, groups, organizations or literally anyone who can pay you legally. In the In

  %h4 How does it work on Cocopay?
  %p.mbottom30 Cocociti is a primarily a social network based on wishes. Payments/funding are just one of the many factors in fulfilling a wish. So here fundraising is as simple as sharing an image or post on twitter or facebook. Just sign up on www.cocociti.com, select 'I WANT TO FUND RAISE' option, enter details and you are done. Once you create a wish, Invite your friends and family to contribute towards your cause, ask them to spread the word by sharing it on Facebook, Twitter, LinkedIn, and WhatsApp, reach your goal amount and collect the funds from us once the fundraiser ends.
  %p.mbottom30 To know more, visit: www.cocociti.com/cocopay

  %h4 How is Cocopay better than any other crowdfunding platform?
  %p.mbottom30 That’s an easy one. We are better than any other crowdfunding platform because we got:
  Powered by people like you, powered by wishes. Meet the strong and ever wishful strong community.


  %h4 What's a crowdfunding fundraiser/fundraising page?
  %p.mbottom30 It's an exercise performed on Cocopay by an individual or a group of individuals to raise funds for a purpose/cause. It acts as a platform to invite contributors from all across the globe to stand in unanimity for a cause that requires financial support.

  %h4 What can I do on Cocopay?
  %p.mbottom30
    You can:
    %br
    Start a fundraiser: Raise money for yourself, a loved one or anyone in need.
    %br
    Make a donation: Browse Fundraiser or Causes to make a donation
    %br
    Support a cause by sharing the fundraising page on your social media networks such as Instagram, Facebook, Twitter, LinkedIn and WhatsApp.

  %h4 How do I raise funds?
  %p.mbottom30
    Launch a crowdfunding fundraiser
    %br
    To Start a Fundraiser, follow the three steps:
    %br
    Sign up on Cocopay
    %br
    Fill up the form
    %br
    Hit Submit
    %br
    And, your fundraiser goes Live!

  %h4 What falls under personal causes?
  %p.mbottom30 A personal cause can be a situation or purpose that demands financial support, like: expenses for medical bills, travel, education, an entrepreneurial venture, and more.
  It can also be as small as buying a pizza for yourself or as big a RollsRoyce. Basically, a cause that affects you personally.

  Can I raise funds for a friend as well?
  %p.mbottom30 Yes, you can also raise funds for a friend, a loved one or anyone in need during life's crucial moments.

  %h4 Does the raised amount reach the individual directly?
  %p.mbottom30 With Cocopay, the money you collect goes directly to the bank account associated with your fundraising page. Raising money for yourself or anyone has never been easier.

  %h4 Is it safe?
  %p.mbottom30 Your Cocopay fundraiser features the very best in secure payment encryption technology. Not only are your donors' online payments safe, your money is stored securely until you're ready to request a withdrawal via electronic bank transfer.

  %h4 How long can I run a fundraising page on Cocopay?
  %p.mbottom30 With Cocopay there are no deadlines or timelimits. Though a fundraiser has a default lifespan of 30days. Study shows tasks are better performed within certain deadlines.
  However, you can always change the duration of your fundraiser.

  %h4 Can I change the goal amount?
  %p.mbottom30 Yes, of course! Just drop us a mail, and we’ll do it for you.

  %h4 What if I don't reach my goal?
  %p.mbottom30 No problem. You will still receive the raised amount after the transaction processing fee. Which is flat 5% of the total funds raised as the launch offer.

  %h1 How do I promote my fundraiser?

  %h4 How do I promote my fundraiser?
  %p.mbottom30 Stage 1: Divide your social circle into an inner circle(friends, family, colleagues) and an outer circle(old friends, distant relatives, ex–colleagues, etc.).
  %p.mbottom30 Stage 2: Reach out to your inner social circle first – friends, family and colleagues. They are most likely to give because, well, they love you, and because they can feel your passion for the cause.
  %p.mbottom30 Stage 3: Reach out to your outer circle next – old friends, distant relatives, ex–colleagues, etc. When they see you've already got supporters giving to your fundraiser, it will make them want to join in as well.
  %p.mbottom30 Don't stop reaching out to the people in your network. Create a ripple effect.
  %p.mbottom30 For more tips, visit: www.cocociti.com/fundraising/tips

  %h4 I don't have a financially stable family, how do I ask for money from strangers. It’s awkward. Isn’t it?
  %p.mbottom30 No it's not unless you ask them for a large and an unrealistic amount. Remember, small donations from a large number of audience is your target.
  %p.mbottom30 Don't you fret. If not family, ask your friends for the bare minimum you require from each one of them to initiate donations on your fundraiser; to build the momentum, at least.
  %p.mbottom30 If your friends cannot donate too, ask them to share your fundraIsing page with their friends and family. The possibility of receiving funds from a complete pool of strangers are very low than receiving funds from your friends' friends/family members.
  Keep asking them to keep sharing your fundraising page.

  %h4 I have tried reaching out to my personal network, nothing seems to work out, what should I do?
  %p.mbottom30 Ask for feedback from your friends and family. Get to know the reason why they are not contributing.
  Make changes: Restructure your fundraiser based on the feedback. Remember, transparency is the key. Do not forget to list down all the reasons for why you require funds. Reduce the goal amount, raise funds for the minimum requirement. Once you hit the goal amount, increase it again. Ask for support from your friends. Tell them to share your fundraising page on Facebook, WhatsApp, Twitter and LinkedIn.

  %h4 How will I know if someone donates?
  %p.mbottom30 An automated mail and an SMS from Cocopay notifies you each time a donation is made to your Cocopay fundraiser. You can also download the complete donor list by logging into your Cocopay account.

  %h4 How does Cocopay help?
  %p.mbottom30 As a crowdfunding platform, we help you raise maximum funds for your cause using the best of technology, support and database.

  %h4 Does Cocopay provide potential investors? OR Investors find new ideas on your platform and support them?
  %p.mbottom30 Unfortunately, no. We do not provide potential investors. However, by chance you sit pretty, while an investor is browsing through the fundraisers on www.cocociti.com, you might strike gold! We have no control over your fortune.

  %h1 Costing and Payout

  %h4 What about costing and payout?
  While it's free to create and share your online fundraising fundraiser, Cocociti deducts a
  %strong.font25 flat fee of 5% + Service Tax/-
  from the money you raised for a particular wish. Since our fee is deducted automatically, you'll never need to worry about being billed or owing us any money. Please see Pricing & Fees for more info.

  %h4 Do my donors get charged?
  %p.mbottom30 No, never. Other sites might charge your donors without you knowing it, but we would never do that. Donors are charged only the amount they choose to donate to you and that's it.

  %h4 Can I request for a refund of contribution made towards a fundraiser?
  %p.mbottom30 Yes, a refund request can by mailed within 48 hours of contribution. Please note that if our payment processor has already deducted the transaction fees, it will be deducted from the refund you receive.
  %p.mbottom30 Once Cocopay has made the payment to campaigner, Cocopay shall be discharged of any/all liabilities and no refunds shall be processed thereafter. The contributors will have to get in touch with the campaigner directly.

  %h1 How do I receive my money?

  %h4 How do I receive my money?
  %p.mbottom30 Please refer our Payouts page for queries related to withdrawing funds

  %h4 How soon can I receive the funds?
  %p.mbottom30 Please refer our Payouts page for instructions related to withdrawing funds

  %h3 I am below 18. I don’t have a PAN Card. How do I receive the raised amount?
  OR

  %h3 I don’t have all the documents, can I still receive the raised amount?
  OR

  %h4 Can I receive the raised amount in somebody else’s name?
  %p.mbottom30 In either of the above situations, the amount can be received by a family member or a friend, provided you submit your school or college ID along with the mandatory documents of the receiver.
  Please note: The amount shall be transferred only after the verification of documents.

  %h4 I am foreign national, can I still raise funds on Cocopay?
  %p.mbottom30 No, as of now only Indian citizens of age 18 and above can raise funds from Indian nationals.


  %h1 Miscellaneous

  %h4 Can I keep my fundraiser private?
  %p.mbottom30 All fundraisers on Cocopay are open to public viewing once they receive their first donation.

  %h4 Can we get any discount?
  %p.mbottom30 We are sorry. We are still a start up. We need to generate revenue too to keep you serving better. But as we go along, we look forward to reducing the charges.

  %h4 Is the money raised through Cocopay taxable?
  %p.mbottom30.pbottom100 You are liable to pay income tax or other taxes as er your local law. Please consult with a relevant tax expert for further details. If needed, the details of money raised for a particular wish will be disclosed to the concerned authorities.
