.container.container-pad.mod-postlist-con.mtop50
  .container.mob-postlist-con
    .row
      %h2.text-center Contact
      .col-md-12
        %p
          Cococare:
          %br
          96 8686 0303
          %br
          ayyo@cocociti.com
          %br
          %br
          %br
