= content_for :title do
  -title = "Contact - Cocociti"
.container.ptop50.mob-ptop100{style: "min-height: 1000px;"}
  /
    .col-md-12.text-center.mtop20.mbottom20
      %span.header-text Ayyo!
    .col-md-12
      %p.text-center
        Have Questions?
        %br
        Need help?
        %br
        Thinking of renting?
        %br
        Not sure about lending?
        %br
        Details of the last bill?
        %br
        Something went wrong?
        %br
        %h4.text-center.mbottom0.mtop0
          %strong No worries.
  .col-md-12.text-center.mtop20.mbottom20
    %span.header-text.mbottom10 We're Serious About Helping You
  %p.mbottom30
    The Cocociti Support team is always on and ready to help. From common questions to unique situations, we’re ready to help in any and every way that we can. We take pride in our customer service, our team has a passion for helping people and we promise to make your problem ours until it is resolved, night or day.
  .col-md-12.pbottom50
    %ul.mbottom0.text-center.pleft0.font-bit-large.pbottom10
      %li.inline-block.mright20
        %span.glyphicon.glyphicon-phone.pull-left{style: "color: red;margin-top: 2px;margin-right: 5px;"}
        96 8686 0303
      %li.inline-block.mright20
        %span.glyphicon.glyphicon-envelope.pull-left{style: "color: red;margin-top: 4px;margin-right: 5px;"}
        ayyo@cocociti.com
    %p.text-center
      %strong
        Office address:
      Cocociti Online Solutions Pvt Ltd, BMP No.15, 4th Cross, Marappa Layout, C V Raman Nagar, Near Bagmane Tech Park, Bangalore, India - 560093
