= content_for :title do
  -title = "Contact - Cocociti"
.container.ptop50.mob-ptop100{style: "min-height: 600px;"}
  .col-md-12.text-center.mtop20.mbottom20
    %span.header-text.mbottom10 We're Serious About Helping You
    %p.mbottom20.mtop20
      Have questions about our product, usability, support, or anything else? Let us know and we'll get back to you.
  .col-md-12.pbottom50
    %ul.mbottom0.text-center.pleft0.font-bit-large.pbottom10
      %li.inline-block.mright20
        %span.glyphicon.glyphicon-phone.pull-left{style: "color: red;margin-top: 2px;margin-right: 5px;"}
        96 8686 0303
      %li.inline-block.mright20
        %span.glyphicon.glyphicon-envelope.pull-left{style: "color: red;margin-top: 4px;margin-right: 5px;"}
        ayyo@cocociti.com
    %p.text-center
      %strong
        Office address:
      Cocociti Online Solutions Pvt Ltd, BMP No.15, 4th Cross, Marappa Layout, C V Raman Nagar, Near Bagmane Tech Park, Bangalore, India - 560093
