.container-fluid.ptop50.padding0.fanday-wrapper{style: "background-image: linear-gradient(to right bottom, #286ebb 0, #5e99db 80%);"}
  .container.padding0.white-fg
    %h1.mtop70.text-center{style: "font-size: 6em;margin-top: 125px;letter-spacing: 2px"}
      World Fans’ Day
    %h3.mtop10.text-center
      A celebrity to fan event
.container-fluid.padding0.fanday-wrapper{style: "background-image: linear-gradient(to right bottom, #4CAF50 0, #97e49a 80%);"}
  .container.padding0
.container-fluid.padding0.fanday-wrapper{style: "background-image: linear-gradient(to right bottom, #F44336 0, #fb7c73 80%);"}
  .container.padding0
.container-fluid.padding0.fanday-wrapper{style: "background-image: linear-gradient(to right bottom, #FFEB3B 0, #f9ec77 80%);"}
  .container.padding0
