$('.feed-loader').hide();
- if @showcase_updated
  $(".showcase-strip").append("#{j render partial: "showcases", locals: {showcases: @showcases}}")
  $("#prev_showcase").val("#{@showcases.current_page}")
- if @showcases.next_page
  $('#infinite-scrolling-posts .pagination').replaceWith("#{j paginate @showcases, param_name: 'showcases'}");
  $(window).on('scroll', function (){var more_posts_url = $('#infinite-scrolling-posts .pagination .next a').attr('href');if (more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 250) {$(window).off("scroll");$('.feed-loader').show();$.getScript(more_posts_url+'&prev_showcase_page='+$("#prev_showcase").val()+'&prev_user_page='+$("#prev_user").val());}});
- else
  $(window).off('scroll');
  $('#infinite-scrolling-posts .pagination').remove();
