.container.mtop60.bg-shad.mbottom40.padding0{style: "background-color: #F7F7F7;"}
  = render partial: "profile", locals: {user: @user}
  .col-xs-12.col-sm-9.padding10.ptop0.user-wrapper
    = render partial: "user_card", locals: {users: @following, min_width: "282px"}
  #infinite-scrolling-content.hidden
    = paginate @following, param_name: "following"
  .col-xs-12.col-sm-12.text-center.feed-loader.padding40{style: "display:none;"}
    %i.fa.fa-circle-o-notch.fa-spin.font21
    Please wait...

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $(".following-profile").addClass("active-link");
    });
