$(".user-wrapper").append("#{j render partial: "user_card", locals: {users: @followers}}")
-if @followers.next_page
  $('#infinite-scrolling-content .pagination').replaceWith("#{j paginate @followers, param_name: 'followers'}");
- else
  $(window).off('scroll');
  $('#infinite-scrolling-content .pagination').remove();
