= content_for :title do
  -title = "Goodness & Open Source - Cocociti"
.container.container-pad.mod-postlist-con.mar-des-page
  .container.mob-postlist-con
    .row
      %h2.text-center Boom De Yaada!
      .col-md-12
        %p
          We love and support Open Source.
          %br
          We love Earth.
          %br
          We love Nature.
          %br
      .col-md-12
        %p
          Our sincere thanks and support to Noun Project
          %br
          %i Icon Credits to
          %strong
            %br
            Misirlou
            %br
            Veysel Kara
            %br
            Juan Pablo Bravo
            %br
            Matt Brooks
            %br
            Jorge Reyes
            %br
            Hans Gehard Meier
            %br
            Andy Selimov
            %br
            Benjamin Harlow
            %br
            Jakub Čaja
            %br
            Alessio Ravera Chion
            %br
            Plainicon
            %br
            Cristiano Zoucas
            %br
            Graham John Pegg
            %br
            Ted Grajeda
            %br
            Becca
            %br
            Gregor Črešnar
            %br
            Icon 54
            %br
            Luis Prado
            %br
            Solène Troussé
            %br
            Roberto Chiaveri
            %br
            Creative Stall
            %br
            Oliviu Stoian
            %br
            Edward Boatman
            %br
            Franc
            %br
            %br
            %br
            %br
