= content_for :title do
  -title = "Goodness & Open Source"
.container.container-pad.mod-postlist-con.mtop50
  .container.mob-postlist-con
    .row
      %h2.text-center Boom De Yaada!
      .col-md-12
        %p
          We love and support Open Source.
          %br
          We love Earth.
          %br
          We love Nature.
          %br
          %br
          %br
          %br
