= content_for :title do
  -title = "Goodness & Open Source - Cocociti"
.container.container-pad.mod-postlist-con.ptop50.mob-ptop100
  .container.mob-postlist-con
    .row
      %h2.text-center Boom De Yaada!
      .col-md-12
        %h3 We ♥ Open Source
        %p Cocociti is an open source company. We build our product with open source parts, work in the open, and plan to release as much code as possible. We believe that open source is the right thing for people, technology, and business.
        %h3 We ♥ The People of C V Raman Nagar & Bangalore.
        %p We are grateful to our neighbors for allowing us to experiment and fo sharing feedback for our earlier product versions.
      .col-md-12.text-center
        %iframe.mtop20{:allowfullscreen => "", :frameborder => "0", :height => "450", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/8632103?title=0&byline=0&portrait=0", :webkitallowfullscreen => "", :width => "800"}
        %p.mbottom40
          %a.grey-fg{:href => "https://vimeo.com/8632103"} Discovery Channel - Boom De Yada
          from
          %a.grey-fg{:href => "https://vimeo.com/csmallfield"} Chris Smallfield
          on
          %a.grey-fg{:href => "https://vimeo.com"} Vimeo
      .col-md-12
        %p
          %strong
            Our sincere thanks to Emojione
          %br
          %br
          %strong Our sincere thanks to Noun Project
          %br
          %br
          %i Icon Credits to
          %strong
            %br
            Misirlou
            %br
            Veysel Kara
            %br
            Juan Pablo Bravo
            %br
            Matt Brooks
            %br
            Jorge Reyes
            %br
            Hans Gehard Meier
            %br
            Andy Selimov
            %br
            Benjamin Harlow
            %br
            Jakub Čaja
            %br
            Alessio Ravera Chion
            %br
            Plainicon
            %br
            Cristiano Zoucas
            %br
            Graham John Pegg
            %br
            Ted Grajeda
            %br
            Becca
            %br
            Gregor Črešnar
            %br
            Icon 54
            %br
            Luis Prado
            %br
            Solène Troussé
            %br
            Roberto Chiaveri
            %br
            Creative Stall
            %br
            Oliviu Stoian
            %br
            Edward Boatman
            %br
            Franc
            %br
            Anton Noskov
            Grid
            %br
            Aenne Brielmann
            %br
            John Burraco
            %br
            Eliricon
            %br
            buzzyrobot
            %br
            %br
            %br
            %br
