= content_for :title do
  -title = "Hackers - Cocociti"
.container.ptop50.mob-ptop100{style: "min-height: 600px;"}
  .col-md-12.text-center.mtop20.mbottom20
    %span.header-text.mbottom10 Dear Hackers
  .col-md-12.col-xs-12.mbottom40
    Dear Hacker,
    %br
    %br
    %p We are high on enthusiasm and low on resources. If you are a hacker and feel like hacking this website, STOP!  We can't afford to manage that shit now, so here we request you to spare us and report the vulnerabilities at ayyo[at]cocociti.com.
    %p Not just security bugs, you are welcome to share feedback & usability issues as well.  Thanks for understanding.
    %br
    Smilingly,
    %br
    Your chill bros at Cocociti.
