= content_for :title do
  -title = "Jobs - Cocociti"
.container.ptop50.mob-ptop100{style: "min-height: 600px;"}
  .col-md-12.text-center.mtop20.mbottom20
    %span.header-text.mbottom10 Jobs
  .col-md-12.col-xs-12.mbottom40
    %h3.text-center We're on a mission.
    %strong How we work
    %p We emphasize teaching and learning at Cocociti, and there’s tons of room to grow. We strongly believe in the value of growing a diverse team and encourage people of all backgrounds, genders, ethnicities, abilities, and sexual orientations to apply.
    %strong Are great communicators
    %p Effective communication, whether it’s face-to-face, in chat, or in a GitHub issue, is key to how we work as a team and our bigger strategy as a company.
    %strong Have empathy
    %p We spend a lot of time working with and caring about each other. We’re looking for people who care about their team and the users they’re building for.
    %strong Have fire
    %p Being enthusiastic, excited, and all around fired up about Cocociti is important to our team. We’re looking for people who are all-in on our technology, our culture, and our play.
    %strong Are ready to learn
    %p We value potential over all else. We look for people who, with our investment, will grow quickly and contribute to our team's future.
    %h3.text-center The Cocociti advantages
    %strong The Full Package
    %p We offer great food and health coverage along with gym membership to keep our team strong & healthy.
    %strong We're Flexible
    %p Company paid holidays, group outings and a grown up approach to time off.
    %strong Continue Learning
    %p Tuition and professional development reimbursement so you'll never have to stop learning.
    %strong Work and Play
    %p We work as hard as we play. And we make sure that you're properly fueled with all the idly and vadas you can handle.
    %strong Equity
    %p We're doing this together. Stock options give our team the ability to acquire an ownership interest in Cocociti.
    %strong Talent & Rock stars
    %p We value potential over all else and look for people who, with our investment, will grow quickly and contribute to our team’s future. We focus on potential, not current status or the opportunities enjoyed so far. We aim to prioritize and make visible the progression, growth, and leadership of individuals from backgrounds that the rest of the industry will not. We always employ, retain, promote, and otherwise treat all employees and job applicants based on merit, qualifications, competence, and talent. We do not discriminate on any basis.
    %h3.text-center Wanna join?
    %p.text-center Write us to ayyo@cocociti.com telling how you are going to contribute to Cocociti and you'll soon hear from us.
