.container.mtop60.bg-shad.mbottom40padding0{style: "background-color: #F7F7F7;"}
  = render partial: "profile", locals: {user: @user}
  .col-xs-12.col-sm-7.col-sm-offset-1
    .col-xs-12.col-sm-12.no-mar-pad.showcase-strip
      = render partial: "showcases", locals: {showcases: @showcases}
    #infinite-scrolling-content.hidden
      = paginate @showcases, param_name: "showcases"
    .col-xs-12.col-sm-12.text-center.feed-loader.padding40{style: "display:none;"}
      %i.fa.fa-circle-o-notch.fa-spin.font21
      Please wait...

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $(".wishes-profile").addClass("active-link");
    })
