$('.feed-loader').hide();
$(".notif-full-content").append("#{j render partial: "home/notifications_content", locals: {notifications: @notifications}}")
-if @notifications.next_page
  $('#infinite-scrolling-content .pagination').replaceWith("#{j paginate @notifications, param_name: 'notifications'}");
- else
  $(window).off('scroll');
  $('#infinite-scrolling-content .pagination').remove();
