= content_for :title do
  -title = "Refund - Cocociti"
.container.ptop50.mob-ptop100.min-height1000
  %h1.text-center Cocopay Refund Policy

  %h3 Refunds on Gifts
  %p Gifts (donations made via crowd funding) are non-refundable.

  %h3 Returns
  %p
    If the creator of wishes cancels the fund raising activity, we will credit you the money gifted by after decusting
    %br
    To complete your return, we require the transaction id or proof of gifting.

  %h3 Refunds (if applicable)
  %p
    Once your return is received and inspected, we will send you an email to notify you that we have received your refund request.
    %br
    We will also notify you of the approval or rejection of your refund.
    %br
    If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within 7 working days.
