- if @follow_all.present?
  $(".follow-tag-wrap").removeClass("border-medium grey-fg").addClass("green-fg green-border");
- elsif @unfollow_all.present?
  $(".follow-tag-wrap").removeClass("green-fg green-border").addClass("border-medium grey-fg");
- else
  - if current_user.is_active_interest?(@tag)
    $("#follow-tag-#{@tag.id}").removeClass("border-medium grey-fg").addClass("green-fg green-border");
  - else
    $("#follow-tag-#{@tag.id}").removeClass("green-fg green-border").addClass("border-medium grey-fg");
