.container-fluid.ptop50.grey-bg
  .container
    .row
      %br
      %br
      .col-xs-12.col-md-8.col-md-offset-2.btn-shadow.mtop20.mbottom40.padding20.text-center.white-fg.signup-confirmation{style: "background-color: #0068AB; border-radius:3px;height:300px;"}
        %h3.text-center.mbottom10
          Hello, Welcome to Cocociti
          %br
          %br
        %h4.text-center.mbottom10
          We’re on a mission to make the world and things in it discoverable, wishable and accessible.
          Select a username which best describes yur persona. Remember, this will be your showcase URL for friends to visit your showcase, wishes and discover things you own.
          %br
          %br
          Just one more step!
          %br
          Please check your email and click on Activate button.&nbsp;
        %span.extra-small-font
          If you have not received any email, Please
          %a.padding5.white-fg{:href => "/users/confirmation/new", style: "border-radius:15px; border: 1px solid white;"}
            &nbsp;click
          &nbsp;&nbsp;here to resend.Please check your spam folders too.
      .col-md-12
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
