.container-fluid.mtop50.bg-shad.pbottom50.padding0.helvetica-font.bg-light-grey{style: "min-height:1000px;"}
  .container.padding0.mtop30
    .col-xs-12.col-sm-12.padding10.ptop0.user-wrapper
      = render partial: "user_card", locals: {users: @users, min_width: "282px"}
    #infinite-scrolling-content.hidden
      = paginate @users, param_name: "users"
    .col-xs-12.col-sm-12.text-center.feed-loader.padding40{style: "display:none;"}
      %i.fa.fa-circle-o-notch.fa-spin.font21
      Please wait...
