.container-fluid.ptop50.pattern-bg
  .container
    .row
      %br
      %br
      .col-xs-12.col-md-8.col-md-offset-2.bg-shad.mtop20.mbottom40.pleft15.pright15.ptop30.pbottom20.text-center.white-fg.signup-confirmation{style: "background-color: #0068AB; border-radius:3px;"}
        %h4 Hello, Welcome to Cocociti
        %h5 Just one more step!
        %h3.weight-bold Please check your email & click on Activate button.&nbsp;
        %h5.weight-bold Unable to find? Check your updates, social or spam folder to find the activation email.
        %h5.mbottom30
          *If you have not received any email, Please
          %a.white-fg{:href => "/users/confirmation/new", style: "border-bottom: 1px solid white;"}
            &nbsp;click here
          &nbsp;to resend.
      .col-md-12
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
