.container.container-pad.mob-postlist-con.ptop70
  .container.mob-postlist-con
    .row
      .col-md-12
        = render 'profiles/form'
        = render 'users/registrations/edit'
        /= render 'profiles/notification_form'
