= content_for :header_extra do
  = render partial: "layouts/category_filter"
.container-fluid.aboutpad.mob-postlist-con
  .container.container-pad.mod-postlist-con
    .container.mob-postlist-con 
      .row
        .col-md-12
          .panel.panel-primary.collbod
            .collbocol.panel-heading{style: "background-color:#e84242; border: none;"}
              %h3.panel-title.about-text About
              %span.pull-right.clickable
                %i.glyphicon.glyphicon-chevron-up
            .panel-body.about-para
              %p Cocociti is your trusted human2human online rental marketplace. Product owners make money by sharing products and renters save money by avoiding costly purchases.
              %P 100% verified profiles,  real photographs, product ratings, user history analysis, payment protection, shipping approvals and rental insurance are made possible to ensure you the best rental and sharing experience with peace of mind. Not just rentals, you can use Cocociti to sell used goods, giveaway, and post your requirements; completely free.
              %p
                %br
                %br
                Coco Care:
                %br
                900 8888 522
                %br
                care@cocociti.com
                %br
                %br
                %br
                © 2014-15 Cocociti Online Solutions Pvt Ltd.
          .panel.panel-primary.collbod
            .collbocol.panel-heading{style: "background-color:#e84242; border: none;"}
              %h3.panel-title.about-text Carrers
              %span.pull-right.clickable
                %i.glyphicon.glyphicon-chevron-up
            .panel-body.about-para
              %p Integer fermentum fermentum purus ut accumsan. Aenean interdum elit augue, a mattis sapien faucibus in. Aenean sit amet nisi non metus cursus imperdiet quis et tellus. Ut id risus eu lectus rhoncus dapibus vel ut lacus. Quisque ac mi ligula. Fusce ac sem blandit, facilisis ligula at, vehicula urna. Quisque tincidunt tincidunt arcu, nec interdum dolor commodo in. Vivamus fringilla sapien lorem, ut scelerisque neque pretium quis.
          .panel.panel-primary.collbod
            .collbocol.panel-heading{style: "background-color:#e84242; border: none;"}
              %h3.panel-title.about-text Terms & Privacy
              %span.pull-right.clickable
                %i.glyphicon.glyphicon-chevron-up
            .panel-body.about-para
              %p Integer fermentum fermentum purus ut accumsan. Aenean interdum elit augue, a mattis sapien faucibus in. Aenean sit amet nisi non metus cursus.

          .panel.panel-primary.collbod
            .collbocol.panel-heading{style: "background-color:#e84242; border: none;"}
              %h3.panel-title.about-text Connect
              %span.pull-right.clickable
                %i.glyphicon.glyphicon-chevron-up
            .panel-body.about-para
              %p Integer fermentum fermentum purus ut accumsan. Aenean interdum elit augue, a mattis sapien faucibus in. Aenean sit amet nisi non metus cursus.

          .panel.panel-primary.collbod
            .collbocol.panel-heading{style: "background-color:#e84242; border: none;"}
              %h3.panel-title.about-text Trust & Safty
              %span.pull-right.clickable
                %i.glyphicon.glyphicon-chevron-up
            .panel-body.about-para
              %p Integer fermentum fermentum purus ut accumsan. Aenean interdum elit augue, a mattis sapien faucibus in. Aenean sit amet nisi non metus Integer fermentum fermentum purus ut accumsan. Aenean interdum elit augue, a mattis sapien faucibus in. Aenean sit amet nisi non metus cursus cursus.

          .panel.panel-primary.collbod
            .collbocol.panel-heading{style: "background-color:#e84242; border: none;"}
              %h3.panel-title.about-text Help & FAQs
              %span.pull-right.clickable
                %i.glyphicon.glyphicon-chevron-up
            .panel-body.about-para
              %p Integer fermentum fermentum purus ut accumsan. Aenean interdum elit augue, a mattis sapien faucibus in. Aenean sit amet nisi non metus Integer fermentum fermentum purus ut accumsan. Aenean interdum elit augue, a mattis sapien faucibus in. Aenean sit amet nisi non metus cursus cursus.

          .panel.panel-primary.collbod
            .collbocol.panel-heading{style: "background-color:#e84242; border: none;"}
              %h3.panel-title.about-text Site Map
              %span.pull-right.clickable
                %i.glyphicon.glyphicon-chevron-up
            .panel-body.about-para
              %p Integer fermentum fermentum purus ut accumsan. Aenean interdum elit augue, a mattis sapien faucibus in. Aenean sit amet nisi non metus Integer fermentum fermentum purus ut accumsan. Aenean interdum elit augue, a mattis sapien faucibus in. Aenean sit amet nisi non metus cursus cursus.
