.col-md-12
          #error.col-md-12.text-danger{style: "font-weight: bold; margin-left: 5px;"}
        .col-md-12.mtop20.no-mar-pad.mbottom20
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#credit_card"} Card
            %li
              %a{"data-toggle" => "tab", :href => "#net_banking"} Net Banking
          .tab-content.ptop10
            #credit_card.tab-pane.fade.in.active
              %input{style: "display:none"}/
              %input{style: "display:none", type: "password"}/
              .col-md-12.mtop10.no-mar-pad
                %label.col-md-3 Card Type*
                .col-md-4
                  %select.coco-select-box#citrusCardType
                    %option{:selected => "selected", :value => "credit"} Credit
                    %option{:value => "debit"} Debit
              .col-md-12.mtop10.no-mar-pad
                %label.col-md-3 Card Number*
                .col-md-6
                  %input.form-control#citrusNumber{type: "text", value: "", autocomplete: "false"}/
                .col-md-2.col-xs-6
                  %input.form-control.padding5.text-center.bg-white#checkout_page_card_type{readonly: true, style: "text-transform: uppercase;font-weight: bold;font-size:9px;"}
                  %input.form-control.hidden#citrusScheme{readonly: true}
              .col-md-12.mtop10.no-mar-pad
                %label.col-md-3 Card Holder Name*
                .col-md-6
                  %input.form-control#citrusCardHolder{type: "text", value: "", autocomplete: "false"}/
              .col-md-12.mtop10.no-mar-pad
                %label.col-md-3 Expiry*
                .col-md-3
                  %input.form-control#citrusExpiry{type: "text", value: "", placeholder: "mm/yyyy", autocomplete: "false"}/
                %label.col-md-2{style: "text-align: right;"} CVV/CVC*
                .col-md-3
                  %input.form-control#citrusCvv{type: "password", value: "", autocomplete: "false", placeholder: "CVV/CVC"}/
              .col-md-12.text-center.mtop20{style: "font-size: 10px;"}
                By continuing, you agree to the Terms and Policies of Cocociti & Product Owner.
              .col-md-12.text-center
                %input.btn.btn-info.save-button.mtop10#citrusCardPayButton{type: "button", value: "Pay Now"}/
              .col-md-12.pbottom50.mtop20.mleft20.hidden-xs
                %span.pull-left.cards-sprite
            #net_banking.tab-pane.fade
              .col-md-12.mtop10.no-mar-pad
                .col-md-3
                  %label Select Your Bank*
                .col-md-6
                  %select.coco-select-box#citrusAvailableOptions
              .col-md-12.text-center.mtop20{style: "font-size: 10px;"}
                By continuing, you agree to the Terms and Policies of Cocociti & Product Owner.
              .col-md-12.text-center.pbottom50
                %input.btn.btn-info.save-button.mtop10#citrusNetbankingButton{type: "button", value: "Pay Now"}/