.col-xs-12.col-sm-6.col-sm-offset-3.light-border.bg-white.bg-shad.padding10.pbottom20
  = form_for showcase, url: update_backstory_showcase_path(showcase), method: :post, remote: true, html: { class: "backstory-showcase"} do |f|
    .col-xs-12.col-sm-12.no-mar-pad
      = render partial: "showcases/backstory_form_fields", locals: {f: f, showcase: showcase}
