.col-xs-12.col-sm-6.col-sm-offset-3.light-border.bg-white.bg-shad.pbottom20
  = form_for showcase, :url => update_backstory_showcase_path(showcase), :method => :post, remote: true, html: { class: "backstory-showcase", id: "backstory-form" , "data-model": "showcase"} do |f|
    .col-xs-12.col-sm-12.no-mar-pad
      = render partial: "showcases/backstory_form_fields", locals: {f: f, showcase: showcase}
    .col-xs-12.col-sm-12.text-center.padding5.fs-btn-wrapper.no-mar-pad
      .white-fg.no-mar-pad.loader-out-showcase-fullfill-button.inline-block
        = f.submit " Add Backstory", class: "loader-button loader-in-showcase-fullfill-button showcase-backstory-submit"
        .loader-effect.loader-in-showcase-fullfill-button.text-center{:style => "display:none;padding-top: 4px;"}
          .ball-clip-rotate
            %div
