.media.padding10.pbottom0.mtop0
  .media-left
    = cl_image_tag comment.user.avatar, class: "img-circle media-object", width: 40, height: 40, crop: :fill
  .media-body
    %strong{style: "color: #28B473;"}= comment.user.name
    = simple_format comment.description
    - if current_user == comment.user
      .col-xs-1.col-sm-1.edit-delete-comment{style: "display: none;"}
        .glyphicon.glyphicon-edit
