.col-xs-12.col.sm-12.padding10.user-comment-wrapper
  .col-xs-2.col-sm-1.no-mar-pad
    = cl_image_tag comment.user.avatar, class: "img-circle", width: 40, height: 40, crop: :fill
  .col-xs-9.col-sm-11
    %strong{style: "color: #28B473;"}= comment.user.name
    = simple_format comment.description
  - if current_user == comment.user
    .col-xs-1.col-sm-1.edit-delete-comment{style: "display: none;"}
      .glyphicon.glyphicon-edit
  .col-xs-12.col-sm-12.hidden
    = comment.created_at
