.container.padding0.mtop50{style: "max-width:600px;"}
  .col-xs-12.col-sm-12.padding20.border5.text-center.white-fg{style: "background-color: #15C1EF;"}
    - if showcase.wishlist?
      %span.full-width.mbottom20
        %img{src: "#{GLOBAL_VARIABLES[:root_url]}/assets/images/piggybank.gif"}
        %h4 Yay! First savings towards this wish is from our side.
    %span.full-width
      %h5
        Let the world know. Share it with your friends
    %span.full-width
      #shareShowcaseRoundIcons{"data-id" => "#{showcase.id}"}
