- if showcase.accept_fund
  .col-xs-12.col-sm-12.padding0.wish-success-wrapper.bg-white
    .col-xs-12.col-sm-12.mtop10.mbottom10
      = render partial: "showcases/raise_fund_extra_fields", locals: {showcase: showcase}
    .col-xs-12.col-sm-6.padding0.ptop20.text-center.j-cf-chat-room{style: "border-top: 1px solid #ececec;"}
      = link_to new_chat_for_crowd_fund_chat_room_path(showcase.id), remote: true do
        .btn.btn-md.btn-v-outline.transition-effect
          Create Chatroom
    .col-xs-12.col-sm-6.padding0.text-center{style: "border-top: 1px solid #ececec;"}
      %h5.mbottom0 Let the world know. Share it with your friends
      .pull-left.full-width
        #shareShowcaseRoundIcons{"data-id" => "#{showcase.id}"}
- else
  .col-xs-12.col-sm-12.padding0.mob-padding10.wish-success-wrapper
    .col-xs-12.col-sm-12.padding20.border2.text-center.white-fg.cc-hvy-dark-bg
      %span.full-width
        %h5
          Let the world know. Share it with your friends
      %span.full-width
        #shareShowcaseRoundIcons{"data-id" => "#{showcase.id}"}
