$('#cont-wrapper').modal('hide');
- if @showcase_to_hide
  $(".showcase-card-#{@showcase_to_hide.id}").fadeOut();
  $(".showcase-card-#{@showcase_to_hide.id}").remove();
  $(".coll-show-count").text(parseInt($(".coll-show-count").text()) - 1);
  if(!$.trim($(".showcase-strip").html()).length){$(".showcase-strip").html("<h3 class='text-center padding20'>Ooops...Empty!</h3>")}
$(".messages").html("#{j render partial: 'layouts/messages'}")
