$("#cont-wrapper").html("#{j render partial: "showcases/backstory_form", locals: {showcase: @showcase}}");
prependModalClose('#cont-wrapper');
$("#cont-wrapper").modal('show');
:plain
 $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
 reatch_cloundinary(".cloudinary-fileupload-fullfill");
