- if @collection.errors.blank?
  $(".create-collect")[0].reset();
  $(".create-collect").hide();
  $(".plus-prof").show();
  var collection = $("#{j render partial: 'showcases/collection', locals: {collection: @collection}}").hide();
  $(".collection-strip").prepend(collection);
  $(".collection-#{@collection.id}").fadeIn('slow');
  $(".collections-count").text(parseInt($(".collections-count").text()) + 1)
  $(".move-create-coll-wrapper").hide();
  $(".current-coll").html("#{j render partial: 'showcases/current_collections'}");
  $(".clos-add-mov").removeClass("hide-display");
  $(".move-showc-wrapper").fadeIn();
- else
  $(".create-collect-err").text("#{@collection.errors.full_messages.first}");
