display_cont_wrapper("#{j render partial: "showcases/new_wish", locals: {showcase: @category_wish, url: create_category_showcases_path}}");
$("#tag_name").val($(".j-category-name").data("tag-name"));
showTag(".tm-new-input", "showcase[all_tags]", [], "gettags");
$("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
reatch_cloundinary(".cloudinary-fileupload-wish-new");
:plain
  $(".prefix-scrollbar").mCustomScrollbar({setHeight: 298});
  var places_input_1= $('.new-loc-input')[0];
  var autocomplete = new google.maps.places.Autocomplete(places_input_1);
  google.maps.event.addDomListener(places_input_1, 'keydown', function(e) {
    if (e.keyCode == 13 && $('.pac-container:visible').length) {
      e.preventDefault();
    }
  });
