display_cont_wrapper("#{j render partial: "showcases/new_wish", locals: {showcase: @category_wish, url: create_category_showcases_path}}");
showTag(".tm-new-input", "showcase[all_tags]", [], "gettags");
$("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
reatch_cloundinary(".cloudinary-fileupload-wish-new");
