$(".messages").html("#{j(render 'layouts/messages')}");
setTimeout(function(){$(".messages").html("")}, 10000);
$(".request-assistance-#{@showcase.id}").remove();
$(".request-assistance-#{@showcase.id}").closest(".j-wishpay-wrap").hide();
