- if @to_move == "yes"
  $("#cont-wrapper").html("#{j render partial: "home/move_showcase", locals: {showcase: @showcase, collection_id: @collection_id }}");
- else
  $("#cont-wrapper").html("#{j render partial: "home/pop_showcase", locals: {showcase: @showcase}}");
  $("#cont-wrapper").prepend("<span class='pull-right padding5 mbottom20' style='z-index: 1051;'><button type='button' class='pull-left btn grey-bg padding10' style='border-radius: 50%;'><span class='close-sprite pull-left'></button></span>");
$("#cont-wrapper").modal('show');
