$(".messages").html("#{j(render partial: 'layouts/messages')}")
$(".loader-button").show();
$(".loader-effect").hide();
$(".showcase-ps-#{@showcase.id}").html("#{j render partial: "home/showcase", locals: {showcase: @showcase, feed: 'yes'}}")
- unless @showcase.achieved?
  $("#cont-wrapper").modal("hide").html("");
