#cont-wrapper.modal.fade.padding0
.container-fluid.ptop50.mob-ptop100.bg-shad.padding0.helvetica-font.bg-light-grey.pbottom50{style: "min-height: 1000px;"}
  .container.padding0
    .col-xs-12.col-sm-12.no-mar-pad
      .col-xs-12.col-sm-12
        %h3.pull-left Admin Showcase
        = link_to new_admin_showcase_path, class: "pull-right mtop20" do
          .fa.fa-plus-circle.cc-dark-fg.font25
      .col-xs-12.col-sm-12.no-mar-pad
        .table-responsive
          %table.table.table-striped.table-bordered.table-hover.font12
            %thead
              %tr
                %th
                %th Name
                %th Status
                %th Coin Wish
                %th Created At
                %th Delete
            %tbody.showcase-strip
              = render partial: "admin/showcases/admin_showcases", locals: {showcases: @showcases, page: params[:page]}
      #infinite-scrolling-content.hidden
        = paginate @showcases, param_name: "showcases"
      .col-xs-12.col-sm-12.text-center.feed-loader.padding40{style: "display:none;"}
        %i.fa.fa-circle-o-notch.fa-spin.font21
        Please wait...
