.tabbable-panel-about {
 
 

}

/* Default mode */
.tabbable-line-about-pad{
  padding-left: 50px;
  padding-right: 50px;   
}
.tabbable-line-about > .nav-tabs {
  border-top:1px solid rgba(51, 51, 51, 0.18);
  margin: 0px;
}
.tabbable-line-about > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line-about > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #C8C8B7;
}
.tabbable-line-about > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line-about > .nav-tabs > li.open, .tabbable-line-about > .nav-tabs > li:hover {
 
}
.tabbable-line-about > .nav-tabs > li.open > a, .tabbable-line-about > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line-about > .nav-tabs > li.open > a > i, .tabbable-line-about > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line-about > .nav-tabs > li.open .dropdown-menu, .tabbable-line-about > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line-about > .nav-tabs > li.active {
  border-bottom: 6px solid #e84242;
  position: relative;
  background-color: #e84242;
  color: #fff;
}
.tabbable-line-about > .nav-tabs > li.active > a {
  border: 0;
  color: #fff;
  background-color: #e84242;
}
.tabbable-line-about > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line-about > .tab-content {
  margin-top: px; 
  background-color: #fff;
  border: 0;
  padding: 15px 0;
}

.img-width{
  width:70%;
}
.prof-header{
  padding-top: 50px;
  font-size:40px; 
  font-weight:700; 
  color:#333333;   
}
.prof-para{
  font-size:18px; 
  font-weight:300; 
  color:#333333;
  line-height: 1.33;
}
.prof-or-list{    
  font-size:38px; 
  color:#e84242; 
  font-weight:500;
}
.prof-or-list-text{
  font-size:30px; 
  color:#e84242; 
  font-weight:500;
}
.pro-or-list-pad{
  text-align: center;
  padding-top: 71px;
}
.pro-mar{
  margin-top:150px;
}

.pro-tabs-text{
    font-size: 25px;
    color: #222222;
    border:1px solid #ccc;
}
.pro-tabs-mar12{
    margin-left: 139px !important;
}
.pro-tabs-mar{
  margin-left:265px;   
}
.pro-tabs-mar2{
    margin-left:265px; 
    margin-right:139px;
}
.pro-tab-in-text{
    padding-left:80px;
    list-style: none;
    font-size: 17px;
}
.pro-tab-in-text2{
    padding-right: 80px;
    list-style: none;
    text-align: right;
    font-size: 17px;
}
.pro-about-con-height{
    height:400px;
}
.hr-pad{
    padding-left:0;
}


.pro-am-header{margin-top: 50px;
    font-size:26px; 
    font-weight:700; 
    color:#333333;
    
}
.pro-am-para{
    margin-top: 30px;
    font-size:22px; 
    font-weight:300; 
    color:#333333;
    margin-bottom: 100px;
}
@media only screen and (max-width: 776px) {
    .pro-tab-in-text{
        padding-left:10px;
        
    }
    .pro-tab-in-text2{
       padding-right: 10px;  
        
    }
    .pro-tabs-pad{
      padding-left:15px; 
    padding-right:15px;  
        
    }
    .pro-tabs-text{
    font-size: 15px;
    }
    .pro-am-header{
        padding-left:20px;
    }
    .pro-am-para{
        padding-left: 20px;
    }
}
.aboutpad{
	
	padding-top:75px;
	
	}
.about-text{
    font-size: 25px;
    font-weight: 700;
    color:#fff;
}
.about-para{
    font-size: 21px;
    font-weight: 300;
    color:#333;
}
.sett-button{
   
  background-color: #e84242;
  border: none;
  border-radius: 0;
  width: 62px;
  height: 35px;
  font-size: 14px;
  font-weight: 700;
}
.del-button{
    margin-top: 50px;
  background-color: #e84242;
  border: none;
  border-radius: 0;
  width: 164px;
  height: 48px;
  font-size: 17px;
  font-weight: 700;
}
.sett-button:hover{
    background-color: #ff7070;
    border-color: none;
}
.sett-button:active{
    background-color: #d20000;
    border-color: none;
}
.del-button:hover{
    background-color: #ff7070;
}
.del-button:active{
    background-color:  #d20000;
}
.save-button:hover{
    background-color: #ff7070;
    border-color: none;
}
.save-button:active{
    background-color: #d20000;
    border-color: none;
}


@media only screen and (max-width: 776px) {
 .mob-con{
     padding-left: 0;
     padding-right: 0;
    
 }
.mob-fluid-con{
    padding-left: 0;
    padding-right: 0;
}
  .mob-pull-left{
      float: none !important;
}
    .mob-map-view-con{
        padding-right: 1px !important;
  padding-left: 3px !important;
    }
    .mob-postlist-con{
        padding-left: 0;
        padding-right: 0;
    }
        
    
        
}
.postadd-mob{
    display: block;
  background-color:#e84242;
    font-size:16px; 
    padding-left:5px; 
    padding-right:5px; 
    padding-top:20px;  
}
.postadd-mob:hover{
    color:#e84242 !important;
    background-color: red !important;
}
.ver-symb{
    position: absolute !important;  
}
.postadd-button{
    margin-top: 13px;
  border: none;
  height: 32px;
  font-size: 16px;
  background-color: rgb(232, 66, 66);
  color: #fff;
}
body{
    overflow-x: hidden;
}

