%h5.histroy-header PROFILE WITHDRAWS
-if @crowdfunding_withdraws.count == 0
  .col-xs-12.col-sm-12.full-height.text-center
    %span.font20.mtop70.inline-block No withdrawal requests as of now.
- else
  .col-xs-12{style: "overflow-y: scroll; height: 80%;"}
    - @crowdfunding_withdraws.each do |withdraw|
      .col-xs-12.extra-small-font.mtop10
        .col-xs-4
          #{withdraw.showcase.available_withdraw_amount}
        .col-xs-4
          = withdraw.created_at.in_time_zone("Kolkata").strftime("%d %b %Y %H:%M")
        .col-xs-4
          - if withdraw.open?
            Pending
            = link_to delete_withdraw_request_profile_path(withdraw), method: :post, data: { confirm: "Are you sure you want to delete your withdraw request?" }, class: "j-loader-trigger-link" do
              Delete Request
          - elsif withdraw.closed?
            Completed
          -elsif withdraw.rejected?
            Rejected
