= content_for :title do
  -title = "#{@products.first.category_path} for rent in Bangalore"
.col-md-12.col-sm-12.mar-des-page.grey-bg
  .col-md-12
    .ol.breadcrumb.mbottom0.note-font-size
      = render_breadcrumbs tag: :li, separator: "&nbsp;&nbsp;<span class='glyphicon glyphicon-menu-right extra-small-font'></span>&nbsp;&nbsp;".html_safe
  .col-md-12.no-mar-pad.col-sm-12.ptop10.mbottom40
    - @products.each_slice(4) do |slide|
      .col-md-12.col-sm-12
        - slide.each do |product|
          .col-md-3.col-sm-4
            = render partial: "product", locals: {product: product}
