$(".my-review").html("#{escape_javascript(render partial: 'my_review', locals: {product: @product})}");
$("#reviews").prepend("#{escape_javascript(render partial: 'review', locals: {review: @review})}");