$("#sub-categories").html("#{escape_javascript(render partial: "sub_categories", locals: {subs: @subs, selected: @selected})}");
$("#filter-sub-cat").html("#{escape_javascript(render partial: "filter_sub_categories", locals: {subs: @subs, selected: @selected})}");