- klass1 = rate > 0 ? 'glyphicon-star' : 'glyphicon-star-empty'
- klass2 = rate > 1 ? 'glyphicon-star' : 'glyphicon-star-empty'
- klass3 = rate > 2 ? 'glyphicon-star' : 'glyphicon-star-empty'
- klass4 = rate > 3 ? 'glyphicon-star' : 'glyphicon-star-empty'
- klass5 = rate > 4 ? 'glyphicon-star' : 'glyphicon-star-empty'
%span.glyphicon{class: klass1}
%span.glyphicon{class: klass2}
%span.glyphicon{class: klass3}
%span.glyphicon{class: klass4}
%span.glyphicon{class: klass5}