= stylesheet_link_tag "bootstrap-select"

.post-mar
  .col-md-5
    %hr.hr-land
  .col-md-2
    %h4.header-text Post new Ad
  .col-md-5
    %hr.hr-land

.container-fluid
  .container
    .row
      = render partial: "form"