- unless errors.blank?
  .alert.alert-danger.alert-dismissable.alert-message-div{:role => "alert"}
    %span.pull-right.pon.weight600.grey-fg.alert-close{style: "margin-right: -24px;"} x
    %ul
      - errors.each do |msg|
        %li= msg
