- unless flash.blank?
  - flash.each do |name, msg|
    - type = name.to_s
    - type = "danger" if type == 'error' || type=='alert'
    - type = 'success' if type == 'notice'
    = content_tag :div, :class => "mbottom0 alert alert-#{type} alert-dismissable alert-message-div alert-mob", :role => "alert" do
      %button.close{:type => "button", :data => {:dismiss => "alert"} }
        %span{:aria => {:hidden => "true"} } &times;
        %span.sr-only Close
      = msg.html_safe

  - flash.discard
