- unless flash.blank?
  - flash.each do |name, msg|
    - type = name.to_s
    - type = "danger" if type == 'error' || type=='alert'
    - type = 'success' if type == 'notice'
    = content_tag :div, :class => "mbottom0 alert alert-#{type} alert-dismissable alert-message-div alert-mob", :role => "alert" do
      %span.pull-right.pon.weight600.grey-fg.alert-close{style: "margin-right: -24px;"} x
      = msg.html_safe
  - flash.discard
