%nav.navbar.navbar-default.navbar-fixed-top.topnav.nav-bar-color.border-bt-side.no-border{:role => "navigation", style: "box-shadow: 0 0px 1px rgba(0, 0, 0, 0.26);"}
  .navbar.navbar-fixed-top
    .container
      .navbar-header
        %a.navbar-brand.pleft5{href: "/", style: "font-size: 1.6em;letter-spacing: 1px;"}
          Cocociti
