%nav.navbar.navbar-default.navbar-fixed-top.topnav.no-border{style: "background-color: rgba(0,0,0,0.28);"}
  .container.text-center
    %h2.weight-bold.white-fg.text-center.no-mar-pad.padding10 Cocociti
