%nav.navbar.navbar-default.navbar-fixed-top.topnav.nav-bar-color.border-bt-side{:role => "navigation", class: "bg-auth no-border"}
  .navbar.navbar-fixed-top
    .container.text-center
      %a.navbar-brand.full-width{href: "/", style: "font-size: 2.0em;letter-spacing:1px;color:white;"}
        %span{style: "position: relative;left: 4px;"} Coco
        %span{style: "color: #00A896;position:relative;left: -1px;"} citi
