%nav.navbar.navbar-default.navbar-fixed-top.topnav.violet-bg.no-border.bg-shad{:role => "navigation", style: "border-radius: 0px;"}
  .navbar.navbar-fixed-top
    .container
      .navbar-header
        %a.navbar-brand.white-fg.ptop0{href: "/", style: "font-size: 1.6em;letter-spacing: 1px;"}
          %img.pull-left{src: "#{GLOBAL_VARIABLES[:root_url]}/assets/images/logo.svg", style: "width: 40px;"}
          %span.pull-left.ptop15.pleft5 Cocociti
#cont-wrapper.modal.fade.padding0
.messages
