%nav.navbar.navbar-default.navbar-fixed-top.topnav.violet-bg.no-border.bg-shad{:role => "navigation", style: "border-radius: 0px;"}
  .navbar.navbar-fixed-top
    .container
      .navbar-header
        %a.navbar-brand.white-fg.ptop0{href: "/", style: "font-size: 1.6em;letter-spacing: 1px;"}
          %img.pull-left{src: "#{GLOBAL_VARIABLES[:root_url]}/assets/logo.png", style: "width: 40px;"}
          %span.pull-left.pleft5{ style: 'padding-top: 14px;'} WishBoard
#cont-wrapper.modal.fade.padding0
.messages
