.web-notifications.transition-effect.pull-left.full-width.white-fg
  -if current_user
    .j-enable-web_notification.hidden.padding10{:role => "alert"}
      %span.pull-right.pon.weight600.alert-close-notification x
      Never miss an update
      %a.btn.bg-white.cc-dark-fg.j-enable-notification{:href => "#"} Enable Notifications
    .j-how-to-enable-notifications.hidden.padding10
      .mbottom0.alert.alert-success.alert-dismissable.alert-mob{:role => "alert"}
        %span.pull-right.pon.weight600.alert-close-notification x
        Browser notifications are blocked.You will not get any notifications. To check how to Enable/Disable Browser notifications
        %a.btn.bg-white.cc-dark-fg.j-enable-notification-instructions{:href => "#"} How TO Enable Notifications
