!!!
%html
  %head
  %body{style: "margin: 0;width:100%;height:100%;background-color: #F3F3F3;float:left"}
    #email-container{style: "position:relative;margin:0px auto;width:90%;height:100%;background-color:white;"}
      .header{style: "height: 50px;border-bottom: 1px solid #D6D6D6;position:relative;top: 0;width: 100%;float:left;background-color:white;"}
        .logo{style: "padding: 9px;margin-left: 20px;"}
          = image_tag("#{root_url}emails/cocociti-logo.png")
      .content{style: "width: 88%;height: auto;position: relative;float: left;padding: 6%;text-align: center;font-family: Arial,sans-serif;background-color:white;"}
        = yield
      .footer{style: "bottom: 0px;height: 78px;border-top: 1px solid #D6D6D6;position: relative;width: 100%;text-align: center;padding-top: 10px;font-size: 11px;float:left;background-color:white;"}
        51/1, BMP No.15, Ground Floor, 4th Cross, Marappa Layout, Byrasandra, C V Raman Nagar post, Bangalore, India - 560093
        %br/
        CIN: U72900KA2014PTC077438, PAN: AAFCC8502K
        %br/
        Email: ayyo@cocociti.com, Tel: 96 8686 0303
        %br/
        &copy;Cocociti Online Solutions Pvt Ltd
