<html><head>
<style>
	#container
	{
		margin:0px auto;
		width: 90%;
		position:relative;
		height:100%;
		background-color:white;
		
	},
</style>
</head>
<body style="
    margin: 0;
    background-color: #F3F3F3;
">
	<div id="container">
		<div class="header" style="
    height: 50px;
    border-bottom: 1px solid #D6D6D6;
    position: absolute;
    top: 0;
    width: 100%;
">
			<div class="logo">
				<img src="file:///var/www/html/cocociti/app/assets/images/coc.png">
			</div>
		</div>
		<div class="footer" style="
    bottom: 0px;
    height: 78px;
    border-top: 1px solid #D6D6D6;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 11px;
">
  51/1, BMP No.15, Ground Floor, 4th Cross, Marappa Layout, Byrasandra, C V Raman Nagar post, Bangalore, India - 560093<br>CIN: U72900KA2014PTC077438, PAN: AAFCC8502K <br>
  Email: ayyo@cocociti.com, Tel: 96 8686 0303<br>
  © Cocociti Online Solutions Pvt Ltd
		</div>
	</div>


</body></html>
