.panel.panel-primary.collbod#user_form
  .collbocol.panel-heading{:style => "background-color:#e84242; border: none;"}
    %h3.panel-title.about-text Account
    %span.pull-right.clickable
      %i.glyphicon.glyphicon-chevron-up
  .panel-body
    .row
      .col-md-12
        ~ form_for(@user, as: :user, url: registration_path(:user), remote: true, html: {class: 'form-horizontal user_form', role: "form", method: :put}) do |f|
          .errors= render partial: "/layouts/errors", locals: {errors: @user.errors.full_messages}
          %fieldset
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Current password
              .col-sm-3
                = f.password_field :current_password, :placeholder => "password", class: "form-control"
              .col-md-2{:style => "text-align:center;"}
                %i.fa.fa-plus.fa-2x{style: "color:#e84242"}
              .col-md-2
                = f.password_field :password, :placeholder => "New password", class: "form-control"
              .col-md-2
                = f.password_field :password_confirmation, :placeholder => "Repeat password", class: "form-control"
              .col-md-1
                %button.btn.btn-info.sett-button Save
