$(".loader-button").show();
$(".loader-effect").hide();
$("#user_current_password, #user_password, #user_password_confirmation").val("");
- if @user.errors.blank?
  $("form.user_form .messages").html("#{j(render 'layouts/messages')}")
- else
  $("form.user_form .messages").html("#{j(render partial: "layouts/errors", locals: {errors: @user.errors.full_messages})}")
